Genuine Passport
Valid Passport exceeding six months
Stamped employer cover letter
Certified bank statement
Passport photos
Application form completed
Return air ticket
Hotel booking confirmation
Does person has someone known in Canada
Previous application approved
Previous visa not overstayed
Entry to Canada not denied